<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='table-responsive'>
    <table class='table' *ngIf='orgs && orgs.length'>
      <tbody>
        <tr>
          <td></td>
          <td>
            <i class="fa fa-code fa-5x" aria-hidden="true"></i>
            Total AI's in Production: 1400
          </td>
          <td>
            <i class="fa fa-code fa-5x" aria-hidden="true"></i>
            Total SI's in Production: 650
          </td>
          <td>
            <i class="fa fa-code fa-5x" aria-hidden="true"></i>
            Total AI's: 2800
          </td>
          <td>
            <i class="fa fa-code fa-5x" aria-hidden="true"></i>
            Total SI's: 1000
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <i class="fa fa-snowflake-o fa-5x" aria-hidden="true"></i>
            NewRelic Apps: 20
          </td>
          <td>
            <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
            Total Users: 35
          </td>
          <td>
            <i class="fa fa-star fa-5x" aria-hidden="true"></i>
            Total Orgs: 55
          </td>
          <td>
            <i class="fa fa-globe fa-5x" aria-hidden="true"></i>
            Total Spaces: 300
          </td>
        </tr>
        <tr style="border-bottom:2px solid blue">
          <td colspan="100%"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class='card-body'>
    <div class='col-md-2'>Filter by:</div>
    <div class='col-md-4'>
      <input type='text' [(ngModel)]='listFilter' /><br><br>
      <b>PDC</b>
    </div>
  </div>
  <!-- Break this up into multiple div segments...one per foundation for now -->
  <!-- Prod 1 Org Info -->
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th></th>
          <th>Organization Name</th>
          <!-- update headers to dynamically pull in the year -->
          <th>Q1 {{ currentYear }}</th>
          <th>Q2 {{ currentYear }}</th>
          <th>Q3 {{ currentYear }}</th>
          <th>Q4 {{ currentYear }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let usage of prod1Arr'>
          <td><!--<a class='nav-link' [routerLink]="['/orgSummary']">{{ usage.orgName }}</a>--></td>
          <td>{{ usage.orgName | lowercase}}</td>
          <!--<td>{{ org.name | lowercase | convertToSpaces: '-' }}</td> -->
          <td>AIs: {{ usage.q1AIUsage | number:'1.2-2'}} <br> SIs: {{ usage.q1SIUsage | number:'1.2-2'}} </td>
          <td>AIs: {{ usage.q2AIUsage | number:'1.2-2'}} <br> SIs: {{ usage.q2SIUsage | number:'1.2-2'}} </td>
          <td>AIs: {{ usage.q3AIUsage | number:'1.2-2'}} <br> SIs: {{ usage.q3SIUsage | number:'1.2-2'}} </td>
          <td>AIs: {{ usage.q4AIUsage | number:'1.2-2'}} <br> SIs: {{ usage.q4SIUsage | number:'1.2-2'}} </td>
          <!--<td>{{ org.price | currency:'USD':'symbol':'1.2-2' }}</td>-->
          <!--<td>
            {{ org.app_name }}
            <pm-star [rating]='org.starRating' (ratingClicked)='onRatingClicked($event)'></pm-star> 
          </td>-->
        </tr>
        <tr style="border-bottom:2px solid blue">
          <td colspan="100%"></td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class='card-body' *ngIf='prod2Arr && prod2Arr.length'>
    <div class='col-md-2'></div>
    <div class='col-md-4'>
      <b>CDC</b>
    </div>
  </div>

  <!-- Prod 2 Org Info -->
  <div class='table-responsive' *ngIf='prod2Arr && prod2Arr.length'>
    <table class='table'>
      <thead>
        <tr>
          <th></th>
          <th>Organization Name</th>
          <!-- update headers to dynamically pull in the year -->
          <th>Q1 {{ currentYear }}</th>
          <th>Q2 {{ currentYear }}</th>
          <th>Q3 {{ currentYear }}</th>
          <th>Q4 {{ currentYear }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let usage of prod2Arr'>
          <td><!--<a class='nav-link' [routerLink]="['/orgSummary']">{{ usage.orgName }}</a>--></td>
          <td>{{ usage.orgName | lowercase}}</td>
          <!--<td>{{ org.name | lowercase | convertToSpaces: '-' }}</td> -->
          <td>AIs: {{ usage.q1AIUsage | number:'1.2-2'}} <br> SIs: {{ usage.q1SIUsage | number:'1.2-2'}} </td>
          <td>AIs: {{ usage.q2AIUsage | number:'1.2-2'}} <br> SIs: {{ usage.q2SIUsage | number:'1.2-2'}} </td>
          <td>AIs: {{ usage.q3AIUsage | number:'1.2-2'}} <br> SIs: {{ usage.q3SIUsage | number:'1.2-2'}} </td>
          <td>AIs: {{ usage.q4AIUsage | number:'1.2-2'}} <br> SIs: {{ usage.q4SIUsage | number:'1.2-2'}} </td>
        </tr>
        <tr style="border-bottom:2px solid blue">
          <td colspan="100%"></td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class='card-body'>
    <div class='col-md-2'></div>
    <div class='col-md-4'>
      <b>Stage</b>
    </div>
  </div>

  <!-- Stage Org Info -->
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th></th>
          <th>Organization Name</th>
          <!-- update headers to dynamically pull in the year -->
          <th>Q1 {{ currentYear }}</th>
          <th>Q2 {{ currentYear }}</th>
          <th>Q3 {{ currentYear }}</th>
          <th>Q4 {{ currentYear }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let usage of stageArr'>
          <td><!--<a class='nav-link' [routerLink]="['/orgSummary']">{{ usage.orgName }}</a>--></td>
          <td>{{ usage.orgName | lowercase}}</td>
          <!--<td>{{ org.name | lowercase | convertToSpaces: '-' }}</td> -->
          <td>AIs: {{ usage.q1AIUsage | number:'1.2-2'}} <br> SIs: {{ usage.q1SIUsage | number:'1.2-2'}} </td>
          <td>AIs: {{ usage.q2AIUsage | number:'1.2-2'}} <br> SIs: {{ usage.q2SIUsage | number:'1.2-2'}} </td>
          <td>AIs: {{ usage.q3AIUsage | number:'1.2-2'}} <br> SIs: {{ usage.q3SIUsage | number:'1.2-2'}} </td>
          <td>AIs: {{ usage.q4AIUsage | number:'1.2-2'}} <br> SIs: {{ usage.q4SIUsage | number:'1.2-2'}} </td>
        </tr>
        <tr style="border-bottom:2px solid blue">
          <td colspan="100%"></td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class='card-body'>
    <div class='col-md-2'></div>
    <div class='col-md-4'>
      <b>Dev</b>
    </div>
  </div>

  <!-- Dev Org Info -->
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th></th>
          <th>Organization Name</th>
          <!-- update headers to dynamically pull in the year -->
          <th>Q1 {{ currentYear }}</th>
          <th>Q2 {{ currentYear }}</th>
          <th>Q3 {{ currentYear }}</th>
          <th>Q4 {{ currentYear }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let usage of devArr'>
          <td><!--<a class='nav-link' [routerLink]="['/orgSummary']">{{ usage.orgName }}</a>--></td>
          <td>{{ usage.orgName | lowercase}}</td>
          <!--<td>{{ org.name | lowercase | convertToSpaces: '-' }}</td> -->
          <td>AIs: {{ usage.q1AIUsage | number:'1.2-2'}} <br> SIs: {{ usage.q1SIUsage | number:'1.2-2'}} </td>
          <td>AIs: {{ usage.q2AIUsage | number:'1.2-2'}} <br> SIs: {{ usage.q2SIUsage | number:'1.2-2'}} </td>
          <td>AIs: {{ usage.q3AIUsage | number:'1.2-2'}} <br> SIs: {{ usage.q3SIUsage | number:'1.2-2'}} </td>
          <td>AIs: {{ usage.q4AIUsage | number:'1.2-2'}} <br> SIs: {{ usage.q4SIUsage | number:'1.2-2'}} </td>

      </tbody>
    </table>
  </div>

</div>