<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='table-responsive'>
    <table class='table' *ngIf='orgs && orgs.length'>
      <tbody>
        <tr>
          <td></td>
          <td>
            <i class="fa fa-code fa-5x" aria-hidden="true"></i>
            Q1 AI Consumption: 100
          </td>
          <td>
            <i class="fa fa-code fa-5x" aria-hidden="true"></i>
            Q2 AI Consumption: 150
          </td>
          <td>
            <i class="fa fa-code fa-5x" aria-hidden="true"></i>
            Q3 AI Consumption 175
          </td>
          <td>
            <i class="fa fa-code fa-5x" aria-hidden="true"></i>
            Q4 AI Consumption: 200
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <i class="fa fa-snowflake-o fa-5x" aria-hidden="true"></i>
            Q1 SI Consumption: 20
          </td>
          <td>
            <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
            Q2 SI Consumption: 35
          </td>
          <td>
            <i class="fa fa-star fa-5x" aria-hidden="true"></i>
            Q3 SI Consumption: 55
          </td>
          <td>
            <i class="fa fa-globe fa-5x" aria-hidden="true"></i>
            Q4 SI Consumption: 70
          </td>
        </tr>
        <tr style="border-bottom:2px solid blue">
          <td colspan="100%"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='card-body'>
    <div class='col-md-2'>Filter by:</div>
    <div class='col-md-4'>
      <input type='text' [(ngModel)]='listFilter' />
    </div>
  </div>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th></th>
          <th>Space Name</th>
          <th>Q1 2019</th>
          <th>Q2 2019</th>
          <th>Q3 2019</th>
          <th>Q4 2019</th>
          <th>Annual Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let org of filteredOrgs'>
          <td></td>
          <td><a class='nav-link' [routerLink]="['/spaceSummary']">{{ org.entity.name }}</a></td>
          <td>{{ org.metadata.guid }}</td>
          <!--<td>{{ org.name | lowercase | convertToSpaces: '-' }}</td> -->
          <td>{{ org.metadata.created_at }}</td>
          <!--<td>{{ org.price | currency:'USD':'symbol':'1.2-2' }}</td>-->
          <td>
            {{ org.app_name }}
            <!--<pm-star [rating]='org.starRating' (ratingClicked)='onRatingClicked($event)'></pm-star> -->
          </td>
        </tr>

      </tbody>
    </table>
  </div>

</div>